<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>TEMPLATE_PAGE_NAME</title>
    <meta name="description" content="The tech blog of Dr. Josh C. Simmons">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/main.css">
</head>

<body id="TEMPLATE_BODY_ID">
    <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    <header>
        <div>
            <div id="Wordmark">
                <h3 class="offbit-medium"><a href="/">The Blog of Dr. Josh C. Simmons</a></h3>
            </div>
            <div>
                <h3 class="offbit-medium">
                    <a href="/about">
                        About
                    </a>
                </h3>
            </div>
        </div>
        </nav>
    </header>
    <main>
        <section>
            <div>
                <h1>
                    TEMPLATE_PAGE_TITLE
                </h1>
            </div>
            <div id="Content">
                TEMPLATE_PAGE_CONTENT
            </div>
        </section>
    </main>
</body>

</html>
