/* Importing Manrope fonts */
@font-face {
  font-family: 'Manrope';
  src: url('/static/fonts/manrope-bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Manrope';
  src: url('/static/fonts/manrope-medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Importing Monument Grotesk Mono */
@font-face {
  font-family: 'MG-mono';
  src: url('/static/fonts/monument-grotesk-mono.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

/* Importing Offbit for headers */
@font-face {
  font-family: 'Offbit';
  src: url('/static/fonts/offbit-bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Offbit';
  src: url('/static/fonts/offbit-medium.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Manrope', sans-serif;
  font-weight: normal;
}

.offbit-medium {
  font-family: 'Offbit';
  font-weight: normal;
}

/* Using bold and medium variants for Manrope */
b,
strong {
  font-family: 'Manrope';
  font-weight: bold;
}

/* Monument Grotesk Mono for <pre> tags */
pre {
  font-family: 'MG-mono', monospace;
}

/* Offbit for headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Offbit', sans-serif;
  font-weight: bold;
}

h1 {
  font-size: 3em; /* Largest heading, very prominent */
}

h2 {
  font-size: 2.25em; /* Noticeably smaller than h1 but still quite large */
}

h3 {
  font-size: 1.75em; /* Medium-large, suitable for sub-section titles */
}

h4 {
  font-size: 1.5em; /* Medium size, good for smaller section headers */
}

h5 {
  font-size: 1.25em; /* Slightly larger than normal text, for minor sections */
}

h6 {
  font-size: 1em; /* Same size as large body text, used for very minor headers */
}

header div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 1em;
}

header img {
  max-width: 4rem;
  width: 100%;
  height: auto;
  max-height: 4rem;
  padding-bottom: 10px;
}

header #Wordmark {
  display: flex;
  flex-direction: row;
  align-items: center;
}

a {
  color: inherit;
  border: 3px solid transparent;
}

a:hover {
  border-color: greenyellow;
}

a:active {
  border-color: green;
}

a:visited:hover {
  color: black;
}

a:visited {
  color: black;
}

html {
  font-size: 16px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main section {
  max-width: 60ch;
  padding: 1em;
}

nav {
  display: flex;
  justify-content: center;
  margin: 1em 0;
}

nav ul {
  display: flex;
  list-style-type: none;
  padding: 0;
}

nav ul li {
  margin: 0 1em;
}

pre {
  overflow-x: scroll;
}

#Home ul {
  list-style-type: none;
  padding: 0;
}

#Home ul li * {
  margin: 0 0 0.5em 0;
  font-size: 1.25em;
}

div#Content {
  padding-bottom: 5em;
}

/* Dark Mode and Color Preferences */
@media (prefers-color-scheme: dark) {
  body {
    background-color: #14171f; /* Bluish tint for dark mode */
    color: #e1e2f4; /* Bluish tint for text */
  }

  a,
  a:visited {
    color: #e1e2f4; /* Consistent link color */
  }

  a:visited:hover {
    color: #e1e2f4; /* Consistent link color */
  }

  a:hover {
    color: #ccc;
  }

  nav {
    background-color: #2a2f3a; /* Bluish tint for navigation bar */
  }

  nav ul li:hover {
    color: #ccc;
  }
}

header {
  background-color: #2a2f3a;
}

header a {
  color: #e1e2f4 !important;
}

/* mobile screens */
@media (max-width: 600px) {
  html {
    font-size: 16px;
  }
  main section {
    padding: 0.5em;
  }

  h1 {
    font-size: 2.5em;
  }
  h2 {
    font-size: 2em;
  }
  h3 {
    font-size: 1.75em;
  }
  h4 {
    font-size: 1.5em;
  }
  h5 {
    font-size: 1.25em;
  }
  h6 {
    font-size: 1em;
  }
  header {
    font-size: 0.75em;
  }
}
